In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv('/content/Fish.csv')

In [ ]:
data.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [ ]:
data.duplicated().value_counts()

False    159
dtype: int64

In [ ]:
data.isnull().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [ ]:
print(data.columns.to_list())

['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height', 'Width']

In [ ]:
data['Species'].value_counts()

Perch        56
Bream        35
Roach        20
Pike         17
Smelt        14
Parkki       11
Whitefish     6
Name: Species, dtype: int64

>step2:Data preprocessing

In [ ]:
#one hot encoding-convert the categorical value into numerical variables
data['Species']=data['Species'].apply({'Perch':0,'Bream':1,'Roach':2,'Pike':3,'Smelt':4,'Parkki':5,'Whitefish':6}.get)

In [ ]:
data.head()

   Species  Weight  Length1  Length2  Length3   Height   Width
0        1   242.0     23.2     25.4     30.0  11.5200  4.0200
1        1   290.0     24.0     26.3     31.2  12.4800  4.3056
2        1   340.0     23.9     26.5     31.1  12.3778  4.6961
3        1   363.0     26.3     29.0     33.5  12.7300  4.4555
4        1   430.0     26.5     29.0     34.0  12.4440  5.1340

>step3:Dividing the data to dependent and independent variables

In [ ]:
x=data.drop(columns=['Species','Weight'],axis=1)
y=data['Weight']

>step4:spliting the data into traning and testing set

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)
#test_size=0.25 means 25%of data will be used for testing the accuracy of model
#75% of data will be used for making model learn

>step5:creating a ML model using Linear Regression algorithm

In [ ]:
#import Linear Regression algorithm
from sklearn.linear_model import LinearRegression
linear_model=LinearRegression()#activating the algorithm for use

In [ ]:
#training the model using .fit()
linear_model.fit(x_train,y_train)

LinearRegression()

In [ ]:
y_pred=linear_model.predict(x_test)#.predict()used for predicting future values

In [ ]:
print(y_pred)#y_pred is weight calculated by the ML model

[  23.73683107  565.22558221  207.11903369  166.22889591  436.18064014
  468.89142926  291.60481083   64.75790264 1184.71410254  379.28261205
  160.25830565 1058.95086875  -97.20580421  671.42904624 -187.60287855
 -195.22338534  501.64082517  927.92907471  297.35669626  196.83179794
  132.24814698  183.17140909  820.87772419 -198.82560599  152.63791665
   20.37900688  270.48776171  636.73178573  867.30072867 -188.40828217
  163.24431377  764.24676135 -255.72426126  331.29165067  675.79207681
  821.27388392  240.70792477 -102.83855678  372.59689301   20.77186316]

In [ ]:
#checking accuaracy of ML model
accuracy=linear_model.score(x,y)

In [ ]:
print('the accuracy of ML model using Linear Regression algorithm is',accuracy)

the accuracy of ML model using Linear Regression algorithm is 0.8839255081073157