In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('/content/Real estate.csv')

In [3]:
data.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [4]:
data=data.drop(['No'],axis=1)

In [5]:
data.head()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 7 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   X1 transaction date                     414 non-null    float64
 1   X2 house age                            414 non-null    float64
 2   X3 distance to the nearest MRT station  414 non-null    float64
 3   X4 number of convenience stores         414 non-null    int64
 4   X5 latitude                             414 non-null    float64
 5   X6 longitude                            414 non-null    float64
 6   Y house price of unit area              414 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 22.8 KB

In [9]:
x=data[['X1 transaction date','X2 house age','X3 distance to the nearest MRT station','X4 number of convenience stores','X5 latitude','X6 longitude']]
y=data['Y house price of unit area']

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [11]:
from sklearn.linear_model import LinearRegression
linear_model=LinearRegression()

In [12]:
linear_model.fit(x_train,y_train)

LinearRegression()

In [13]:
y_predict=linear_model.predict(x_test)

In [14]:
y_predict

array([47.89192711, 46.47950963, 48.98092728, 38.98574216, 37.7857171 ,
       30.51364138, 46.71648493, 36.75406754, 27.65458294, 29.32044699,
       34.58178383, 33.19024592, 54.24832377, 40.58050485, 45.62908022,
       53.79772079, 45.54753913, 37.44856439, 13.61821745, 35.03622869,
       43.91370558, 43.79603067, 48.43516211, 49.06317609, 40.90578144,
       43.9363467 , 31.57462495, 45.54809651, 14.38115558, 45.51031708,
       40.23198066, 48.27437105, 50.20899128, 43.91370558, 38.31925708,
       36.8208437 , 29.48251013, 55.32341933, 12.23557157, 30.42320396,
       10.92916836, 15.07465065, 31.02282838, 40.33350986, 40.67218275,
       37.36243412, 33.30930008, 42.02490208, 32.60291292, 35.13386647,
       31.0589502 , 36.90561979, 36.02640948, 47.95200209, 39.23254651,
       40.6955788 , 48.37728265, 40.27029824, 30.85269981, 35.48261951,
       14.4972317 , 41.44498963, 26.01247288, 47.31788037, 28.06192871,
       33.56137705, 49.53319007, 48.37728265, 37.39641526, 22.90118298,
       32.0544069 , 15.62897674, 31.13559037, 12.18601896, 45.11166304,
       46.28416649, 15.59920269, 32.34474493, 43.46712301, 42.04225219,
       35.46315842, 38.43101385, 36.09495845, 36.57600559, 44.3116846 ,
       26.72378341, 34.5026129 , 29.04395746, 26.29931952, 33.64246458,
       46.46895894, 38.31997568, 45.12559023, 33.14174846, 47.49348376,
       47.84902253, 12.82619739, 47.68567748, 12.20569379, 46.61013711,
       12.23796483, 47.68567748, 53.07408514, 44.68689965])

In [15]:
data.head()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [18]:
accuracy=linear_model.score(x,y)
accuracy

0.5806110706262434

In [63]:
new_data={'X1 transaction date':2019.833,'X2 house age':1.8,'X3 distance to the nearest MRT station':27.872,'X4 number of convenience stores':12,'X5 latitude':24.124,'X6 longitude':75.5233}

In [64]:
index=[1]

In [65]:
new_data=pd.DataFrame(new_data,index=[1])

In [66]:
y_predict=linear_model.predict(new_data)

In [67]:
y_predict

array([238.40406497])