In [1]:
#step1:Gathering data
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv('/content/Housing (1).csv')

In [4]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [6]:
#step2:Data preprocessing
#one hot encoding-converting categorical values into numerical variables
data['mainroad']=data['mainroad'].apply({'yes':0,'no':1}.get)
data['guestroom']=data['guestroom'].apply({'yes':2,'no':3}.get)
data['basement']=data['basement'].apply({'yes':0,'no':1}.get)
data['hotwaterheating']=data['hotwaterheating'].apply({'yes':0,'no':1}.get)
data['airconditioning']=data['airconditioning'].apply({'yes':2,'no':3}.get)
data['prefarea']=data['prefarea'].apply({'yes':0,'no':1}.get)
data['furnishingstatus']=data['furnishingstatus'].apply({'furnished':0,'semi-furnished':1,'unfurnished':2}.get)

In [7]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,0,3,1,1,2,2,0,0
1,12250000,8960,4,4,4,0,3,1,1,2,3,1,0
2,12250000,9960,3,2,2,0,3,0,1,3,2,0,1
3,12215000,7500,4,2,2,0,3,0,1,2,3,0,0
4,11410000,7420,4,1,2,0,2,0,1,2,2,1,0

In [14]:
#step3:Dividing the data into dependent and independent variables
x=data[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']] #independent variables
y=data['price'] #dependent variable

In [16]:
#step4:splitting the data into training and testing set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)
#test_size=0.25 that means 25% of the data will be used for testing and accuracy of the model
#75% of data will be used for making the model learn

In [17]:
#step:5:creating a ML model using LINear Regression algorithm
#import Linear Regression algorithm
from sklearn.linear_model import LinearRegression
linear_model=LinearRegression() #we are activating the algorithm for use

In [18]:
#training the model using .fit()
linear_model.fit(x_train,y_train)

LinearRegression()

In [19]:
y_pred=linear_model.predict(x_test) #.predict()used for predicting the future values

In [20]:
print(y_pred) #y_pred is the price of the housing calculated by the model

[5320393.89640956 2875644.91689048 2905460.34730614 7278135.1093877
 3705466.59152365 4299032.4273844  3747037.62765671 6535727.45420864
 5866105.39672393 4803727.92272634 5062072.30271058 4885332.09121015
 3780794.34318285 3895456.55760179 3203835.01846407 5849846.52061513
 8316841.36411932 4656417.45801113 4932182.2580048  6934740.34663382
 4198214.35603638 6551302.87616537 3176606.55826623 5540472.65166646
 4595692.74337109 3149359.14772498 6509448.22673127 4418372.10575228
 7566587.90723034 4255712.17153054 2781844.51118492 2692199.2737621
 5173667.46547372 4990200.6337124  4180171.78945295 3335431.74640292
 3868435.97533941 3890748.87226276 3676954.90128535 4491647.6973125
 6248371.23561261 3056164.23095063 7043772.02391508 2686766.96096824
 3508549.3955116  5407225.03498444 4911600.24460695 4704979.93768474
 4507149.82800394 5260826.18732583 2840366.65470696 5892972.02862891
 3963117.89406562 5100252.93948345 5005437.48900258 4691078.3381627
 5072495.35369199 7152829.75903042 6754699.30916035 7964520.70486877
 7030173.4866687  6225388.65452205 5125872.18292567 2858005.78579872
 5402254.96929819 5794028.45716587 5800711.05901764 7326470.52342253
 5378752.16604651 4357974.94711617 2459506.17121948 4849202.23450195
 3509883.32106176 5733741.81985626 4644574.94436982 5547200.09199813
 3306982.06531884 4662500.39032879 6380087.31781411 9691773.53095331
 4332023.86155643 3860374.55846511 2697631.58655596 5715101.12177411
 5677970.46660025 2927941.39063498 6660529.52236789 6327626.88411948
 4763843.93296248 3300860.25032213 4110834.32688493 3855712.55372711
 3685952.77891902 3628172.9816404  4444808.26279956 6327602.73147117
 3443874.10081108 3064324.77646557 6606880.82926708 3610137.77491548
 4603829.89742336 3320597.97255546 3186043.14457181 3669214.13990919
 6294988.70043245 7256405.85821227 5847349.91973563 7321136.46976472
 5337600.84604379 4359590.85445078 4608990.2515432  6664096.79738709
 2877743.50803205 2880906.80937128 4419928.76218117 6039814.58739876
 4891570.18165907 4817813.9122884  3915709.93810742 4022771.61348385
 3473050.71301948 8176585.96815585 4793184.89573873 2700076.12731319
 2925909.69572195 3555937.00798562 6311601.72223911 6963280.81862015
 4671177.03806126 6051346.30448012 6563722.08150938 7438865.09122014
 4198611.69770624 2879626.14147438 3592619.61564765 7679445.25501513
 5116094.5225192 ]

In [21]:
#checking accuracy of ML model
accuracy=linear_model.score(x,y)

In [22]:
print('the accuracy of the ML model using Linear Regression algorithm is',accuracy)

the accuracy of the ML model using Linear Regression algorithm is 0.6779610448275574

>predicting the housing oof new customer

In [27]:
#creating data for a new customer
data_new={'area':8330,'bedrooms':4,'bathrooms':4,'stories':3,'mainroad':0,'guestroom':2,'basement':0,'hotwaterheating':0,'airconditioning':2,'parking':3,'prefarea':0,'furnishingstatus':0}

In [28]:
#converting the dict into a dataframe
index=[1] #serial number
my_data=pd.DataFrame(data_new,index)

In [29]:
my_data

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
1,8330,4,4,3,0,2,0,0,2,3,0,0

In [30]:
#predicting the price of housing
predictions=linear_model.predict(my_data)

In [31]:
print('the price of housing for new customer is',predictions)

the price of housing for new customer is [12132761.2176255]